@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
}
.n-page {
  font-family: "Montserrat", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  margin: 0 auto;
}
.n-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-left: 120px;
  padding-right: 120px;
  box-sizing: border-box;
}
@media (max-width: 1410px) {
  .n-container {
    padding-left: 75px;
    padding-right: 75px;
    box-sizing: border-box;
  }
}
@media (max-width: 1240px) {
  .n-container {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
.n-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: clamp(16px, 5vw, 18px);
  line-height: 18px;
  color: #ffffff;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}
/*---promo-1c---*/
.promo-1c {
  width: 100%;
  background: #f8f9fb;
  display: flex;
  justify-content: center;
}
.promo-1c__wrapper {
  width: 100%;
  padding-top: 65px;
  padding-bottom: 60px;
  box-sizing: border-box;
}
@media (max-width: 690px) {
  .promo-1c__wrapper {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}
.promo-1c__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}
@media (max-width: 960px) {
  .promo-1c__inner {
    align-items: center;
  }
}
@media (max-width: 767px) {
  .promo-1c__inner {
    gap: 24px;
  }
}
@media (max-width: 450px) {
  .promo-1c__inner {
    align-items: flex-start;
    gap: 18px;
  }
}
.promo-1c__inner h2 {
  max-width: 720px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(32px, 5vw, 40px);
  line-height: 40px;
  letter-spacing: -0.05rem;
  color: #161616;
}
@media (max-width: 1100px) {
  .promo-1c__inner h2 {
    max-width: 570px;
    font-size: clamp(32px, 5vw, 34px);
    line-height: 34px;
  }
}
@media (max-width: 690px) {
  .promo-1c__inner h2 {
    line-height: 32px;
  }
}
.promo-1c__inner h2 span {
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.promo-1c__inner p {
  max-width: 580px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: clamp(14px, 5vw, 18px);
  line-height: 25.2px;
  letter-spacing: -0.02rem;
}
@media (max-width: 1100px) {
  .promo-1c__inner p {
    max-width: 505px;
    font-size: clamp(14px, 5vw, 16px);
    line-height: 20px;
  }
}
@media (max-width: 960px) {
  .promo-1c__inner p {
    max-width: 570px;
  }
}
@media (max-width: 450px) {
  .promo-1c__inner p {
    max-width: 301px;
    font-size: 14px;
    line-height: 19.6px;
  }
}
.promo-1c__button {
  width: 270px;
  height: 60px;
}
@media (max-width: 767px) {
  .promo-1c__button {
    width: 276px;
    height: 47px;
    font-size: 16px;
  }
}
.promo-1c__image {
  position: absolute;
  width: 415px;
  height: 502px;
  top: -18px;
  right: 30px;
}
.promo-1c__img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.promo-1c__image-2 {
  display: none;
}
@media (max-width: 1322px) {
  .promo-1c__image {
    display: none;
  }
  .promo-1c__image-2 {
    position: absolute;
    display: block;
    top: -18px;
    right: 30px;
    width: 328.21px;
    height: 396.82px;
  }
  .promo-1c__img-2 {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
@media (max-width: 960px) {
  .promo-1c__image-2 {
    display: none;
  }
}
@media (max-width: 767px) {
  .promo-1c__image-2 {
    display: block;
    position: relative;
    order: 2;
    top: 18px;
    left: 0;
  }
}
.promo-1c__ali {
  position: absolute;
  top: -8px;
  left: 107px;
}
.promo-1c__ozon {
  position: absolute;
  top: 169px;
  left: 33px;
}
.promo-1c__wb {
  position: absolute;
  bottom: 43px;
  left: 73px;
}
.promo-1c__mega-m {
  position: absolute;
  bottom: -13px;
  right: -6px;
}
.promo-1c__yandex {
  position: absolute;
  top: 42px;
  right: -32px;
}
.promo-1c__1-c {
  position: absolute;
  top: 164px;
  right: -7px;
}
.promo-1c__items {
  display: flex;
  gap: 24px;
  height: fit-content;
  margin-top: 5px;
}
@media (max-width: 960px) {
  .promo-1c__items {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .promo-1c__items {
    flex-direction: column;
    gap: 24px;
    order: 2;
    max-width: 460px;
  }
}
.promo-1c__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 960px) {
  .promo-1c__item {
    align-items: center;
  }
}
@media (max-width: 767px) {
  .promo-1c__item {
    flex-direction: row;
    gap: 25px;
  }
  .promo-1c__item p br {
    display: none;
  }
}
.promo-1c__item img {
  width: 45.96px;
  height: 51px;
}
.promo-1c__item p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: clamp(14px, 5vw, 15px);
  line-height: 15px;
  letter-spacing: -0.02rem;
  color: #000;
}
@media (max-width: 690px) {
  .promo-1c__item p {
    font-size: 14px;
    line-height: 14px;
  }
}
@media (max-width: 1322px) {
  .promo-1c__1-c {
    top: 122px;
    right: -12px;
  }
  .promo-1c__ali {
    top: -10px;
    left: 80px;
  }
  .promo-1c__ozon {
    top: 131px;
    left: 22px;
  }
  .promo-1c__wb {
    bottom: 34px;
    left: 53px;
  }
  .promo-1c__mega-m {
    bottom: -10px;
    right: -3px;
  }
  .promo-1c__yandex {
    top: 29px;
    right: -24px;
  }
}
/*---advantages-1c---*/
.advantages-1c {
  width: 100%;
}
.advantages-1c__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 94px;
  padding-bottom: 60px;
  box-sizing: border-box;
}
@media (max-width: 690px) {
  .advantages-1c__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.advantages-1c__wrapper h2 {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(32px, 5vw, 40px);
  line-height: 48px;
  letter-spacing: -0.05rem;
  color: #161616;
}
@media (max-width: 1100px) {
  .advantages-1c__wrapper h2 {
    font-size: clamp(32px, 5vw, 34px);
    line-height: 34px;
  }
}
@media (max-width: 690px) {
  .advantages-1c__wrapper h2 {
    font-size: 31px;
    line-height: 32px;
  }
  .advantages-1c__wrapper h2 br {
    display: none;
  }
}
.advantages-1c__wrapper h2 span {
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
/*-----аккордион-----*/
.acor-container {
  margin-top: 20px;
}
@media (max-width: 690px) {
  .acor-container {
    margin-top: 0;
  }
}
.acor-container .acor-body {
  width: 100%;
  margin: 0 auto;
  height: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  color: #161616cc;
  transition: color 0.5s, padding 0.5s;
  overflow: hidden;
}
.acor-body-inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 690px) {
  .acor-body-inner {
    flex-direction: column;
  }
}
.acor-body-item {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  max-width: 860px;
  width: 100%;
}
.acor-body-item img {
  width: 24px;
  height: 24px;
}
@media (max-width: 768px) {
  .acor-body-item img {
    width: 20px;
    height: 20px;
  }
}
.acor-container label {
  cursor: pointer;
  display: block;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.04rem;
  color: #161616;
  margin-top: 43px;
  padding-bottom: 20px;
  box-sizing: border-box;
  z-index: 100;
  border-bottom: 1px solid #39a5ff;
}
@media (max-width: 1100px) {
  .acor-container label {
    font-size: 25px;
    line-height: 27px;
    margin-top: 30px;
  }
}
@media (max-width: 690px) {
  .acor-container label {
    font-size: 24px;
    line-height: 24px;
    margin-top: 33px;
  }
}
.acor-container input {
  display: none;
}
.acor-container label:before {
  content: url(./icons/accord-1.png);
  float: right;
}
@media (max-width: 768px) {
  .acor-container label:before {
    content: url(./icons/accord-1-m.png);
  }
}
.acor-container input:checked + label {
  color: #000;
}
.acor-container input:checked + label:before {
  content: url(./icons/accord-2.png);
}
@media (max-width: 768px) {
  .acor-container input:checked + label:before {
    content: url(./icons/accord-2-m.png);
  }
}
.acor-container input:checked + label + .acor-body {
  height: auto;
  color: #000;
  padding: 18px 0px 0;
}
.acor-body-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 690px) {
  .acor-body-list {
    gap: 24px;
  }
}
.acor-container .acor-body p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: -0.02rem;
  color: #161616;
}
@media (max-width: 1100px) {
  .acor-container .acor-body p {
    font-size: 16px;
    line-height: 18px;
  }
}
@media (max-width: 690px) {
  .acor-container .acor-body p {
    font-size: 14px;
    line-height: 16.8px;
  }
}
.acor-body-image {
  width: 260px;
  height: 240px;
  border-radius: 20px;
  box-shadow: 0px 20px 20px 0px #525fff4d;
}
/*---versatility---*/
.versatility {
  width: 100%;
  background: #f8f9fb;
}
.versatility__wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  column-gap: 40px;
}
@media (max-width: 1140px) {
  .versatility__wrapper {
    gap: 20px;
  }
}
@media (max-width: 960px) {
  .versatility__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .versatility__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
.versatility__item {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 33px;
}
@media (max-width: 960px) {
  .versatility__item {
    max-width: 48%;
  }
}
@media (max-width: 767px) {
  .versatility__item {
    max-width: 450px;
    gap: 14px;
  }
}
.versatility__item h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.04rem;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.versatility__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 22px;
  box-sizing: border-box;
  max-width: 370px;
  width: 100%;
}
@media (max-width: 767px) {
  .versatility__list {
    gap: 20px;
  }
}
.versatility__list li {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #161616cc;
  position: relative;
  letter-spacing: -0.02rem;
}
.versatility__list li::before {
  position: absolute;
  content: url(./icons/versatility-icon.png);
  left: -22px;
}
@media (max-width: 1200px) {
  .versatility__list li {
    font-size: 15px;
  }
}
@media (max-width: 690px) {
  .versatility__list li {
    font-size: 14px;
    line-height: 16.8px;
  }
}
.versatility__a {
  min-height: 57px;
}
@media (max-width: 690px) {
  .versatility__a {
    min-height: 45px;
  }
}
.versatility__a:after {
  position: absolute;
  content: url(./icons/versatility-line.png);
  top: 17px;
  left: -18px;
}
.versatility__b::after {
  position: absolute;
  content: url(./icons/versatility-line-last.png);
  bottom: 30px;
  left: -18px;
}
.versatility__c::after {
  position: absolute;
  content: url(./icons/versatility-line-last.png);
  bottom: 49px;
  left: -18px;
}
.versatility__d:after {
  position: absolute;
  content: url(./icons/versatility-line.png);
  bottom: 50px;
  left: -18px;
}
/*---decisions-1с---*/
.decisions-1с {
  width: 100%;
  display: flex;
}
.decisions-1с__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 86px;
  padding-bottom: 100px;
  gap: 68px;
}
@media (max-width: 767px) {
  .decisions-1с__arm-item {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .decisions-1с__wrapper {
    padding-top: 53px;
    padding-bottom: 53px;
    gap: 27px;
  }
  .decisions-1с__container {
    padding: 0;
  }
}
.decisions-1с__arm-item h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(32px, 5vw, 40px);
  line-height: 48px;
  letter-spacing: -0.05rem;
  color: #161616;
}
.decisions-1с__arm-item h2 span {
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
@media (max-width: 1100px) {
  .decisions-1с__arm-item h2 {
    font-size: clamp(32px, 5vw, 34px);
    line-height: 34px;
  }
}
@media (max-width: 767px) {
  .decisions-1с__arm-item h2 {
    font-size: 32px;
    line-height: 32px;
  }
}
/***************/
/* tr {
  height: 60px;
} */
table tr:nth-child(even) {
  background: #f8f9fb;
}
tr th {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: clamp(15px, 5vw, 18px);
  line-height: 20px;
  letter-spacing: -0.03rem;
  color: #161616;
}
@media (max-width: 1100px) {
  tr th {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: clamp(15px, 5vw, 16px);
    line-height: 18px;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
  }
}
@media (max-width: 767px) {
  tr th {
    font-size: 15px;
    line-height: 21px;
  }
}
tr th:first-child {
  width: 474px;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  text-align: left;
}
tr th:nth-of-type(2) {
  width: 161px;
}
tr th:nth-of-type(3) {
  width: 182px;
}
tr th:nth-of-type(4) {
  width: 182px;
}
tr th:last-child {
  width: 200px;
}
@media (max-width: 767px) {
  tr th:first-child {
    width: 308px;
    padding-left: 20px;
    padding-right: 20px;
  }
  tr th:nth-of-type(2) {
    width: 140px;
  }
  tr th:nth-of-type(3) {
    width: 160px;
  }
  tr th:nth-of-type(4) {
    width: 160px;
  }
  tr th:last-child {
    width: 180px;
  }
}
tr th {
  border-bottom: 1px solid #39a5ff;
}
tr th:not(:first-of-type) {
  border-left: 1px solid #39a5ff;
}
tr td:not(:first-of-type) {
  border-left: 1px solid #39a5ff;
}
tr td {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: clamp(14px, 5vw, 15px);
  line-height: 21px;
  letter-spacing: -0.03rem;
  color: #000;
}
@media (max-width: 767px) {
  tr td {
    font-size: 14px;
    line-height: 16.8px;
  }
}
.decisions-1с__tr {
  height: 60px;
  text-align: center;
}

tr td:first-child {
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  text-align: left;
}
.decisions-1с-available {
  width: 32px;
  height: 32px;
  display: inline-block;
  background: url(./icons/table-check.png) no-repeat center;
  background-size: contain;
}
.decisions-1с-price td {
  border-top: 1px solid #39a5ff;
  border-bottom: 1px solid #39a5ff;
}
.decisions-1с-price td {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: clamp(15px, 5vw, 18px);
  line-height: 20px;
  letter-spacing: -0.03rem;
  color: #161616;
}
.decisions-1с-price td:first-child {
  font-weight: 600;
}
@media (max-width: 767px) {
  .decisions-1с-price td {
    font-size: 15px;
    line-height: 21px;
  }
  .decisions-1с-price {
    height: 48px !important;
  }
}
.decisions-1с-white {
  background: #fff !important;
}
.decisions-1с-btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  border-radius: 4px;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16.8px;
  letter-spacing: -0.02rem;
  color: #ffffff;
}
@media (max-width: 767px) {
  .decisions-1с-btn {
    width: 95%;
    height: 32px;
    font-size: 10px;
    line-height: 14px;
  }
}
.decisions-1с-price-last {
  height: 60px;
  text-align: center;
}
@media (max-width: 767px) {
  .decisions-1с-price-last {
    height: 48px;
  }
}
.decisions-1с-price-last td:nth-of-type(5) {
  border-right: 1px solid #39a5ff;
  position: relative;
}
.decisions-1с-price-last td:not(:nth-of-type(2)) {
  border-left: transparent !important;
}
.price-last {
  position: absolute;
  width: 726px;
  right: -3px;
  top: 20px;
}
@media (max-width: 1080px) {
  .price-last {
    width: 680px;
  }
}
table {
  width: 1200px;
  border-collapse: collapse;
}
@media (max-width: 767px) {
  table {
    width: 960px;
  }
}
@media (max-width: 1354px) {
  .decisions-1с__inner {
    overflow: auto;
  }
}
.decisions-1с__arm {
  display: none;
}
@media (max-width: 767px) {
  .decisions-1с__arm {
    display: block;
  }
  .decisions-1с__arm img {
    width: 20.34px;
    height: 24px;
  }
}
/*---n-support---*/
.n-support {
  width: 100%;
  display: flex;
  background: linear-gradient(93.3deg, #5c4eaa 9.35%, #ae3e78 95%);
}
.n-support__wrapper {
  padding-top: 90px;
  padding-bottom: 97px;
  display: flex;
  flex-direction: column;
}
.n-support__wrapper h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(28px, 5vw, 40px);
  letter-spacing: -0.05rem;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.n-support__title h2 {
  font-weight: 600;
}
.n-support__title {
  max-width: 788px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7px;
  margin-left: auto;
  background: #ffffff;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
.n-title-white {
  color: #ffffff !important;
}
.n-support__item {
  width: 100%;
  display: flex;
  margin-top: 25px;
}

.n-support__icon {
  display: flex;
  gap: 20px;
  margin-right: 20px;
}
.n-support__icon img {
  width: 94px;
  height: 56px;
}
hr {
  width: 278px;
  margin-top: auto;
  border: 1px solid #ffffff;
}
.n-support__item p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.02rem;
  max-width: 520px;
  width: 100%;
  color: #ffffff;
}
@media (max-width: 1050px) {
  .n-support__item p {
    max-width: 80%;
  }
}
.n-support__button {
  width: 270px;
  height: 60px;
  background: #ffffff;
  cursor: pointer;
  margin-left: auto;
  border: 1px solid #3aa1ff;
}
.n-support__button span {
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
}
/*---n-support__wrapper-two---*/
.n-support__wrapper-two {
  padding-top: 88px;
}
.n-support__wrapper-two h2 {
  font-size: clamp(28px, 5vw, 38px);
}
.n-title-blue {
  display: inline-flex;
  align-items: center;
  justify-self: center;
  width: 245px;
  height: 55px;
  border-radius: 8px;
  box-sizing: border-box;
  background: #ffffff;
}
.n-support__item-two {
  margin-top: 41px;
}
.button-m-v {
  display: none;
}
@media (max-width: 768px) {
  .n-title-blue {
    width: fit-content;
    height: fit-content;
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 2px;
  }
}
@media (max-width: 600px) {
  .n-advantages__wrapper-two {
    padding-top: 50px;
  }
  .n-support__wrapper-two h2 {
    font-size: 28px;
    letter-spacing: -0.08rem !important;
  }
  .n-program__wrapper {
    padding-bottom: 54px;
  }
  .n-support__wrapper-two {
    padding-top: 55px;
  }
  .n-title-blue {
    margin-bottom: -2px;
  }
  .n-support__item-two {
    margin-top: 0px;
  }
  .n-support__wrapper-two {
    gap: 16px;
  }
  .n-support__button span {
    font-size: 16px;
  }
}
/*---адартив---*/
@media (max-width: 1120px) {
  .n-advantages__item-icon {
    width: 54px;
    height: 54px;
  }
  .n-advantages__item p {
    position: inherit;
    margin-top: 24px;
    margin-left: 0;
  }
  .n-advantages__item-top h4 {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    max-width: 300px;
  }
  .n-advantages__top {
    align-items: center;
  }
  .n-advantages__inner {
    justify-content: space-around;
  }
  .n-advantages__wrapper {
    gap: 60px;
  }
}
@media (max-width: 895px) {
  .n-advantages__item-top h4 {
    max-width: 234px;
  }
  .n-advantages__item p {
    max-width: 341px;
  }
}
@media (max-width: 870px) {
  .n-advantages__wrapper {
    padding-top: 60px;
    padding-bottom: 57px;
  }
  .n-support__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .n-quick__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .n-maintenance__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .n-service__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .n-company__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .n-stories__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .n-team__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .n-clients__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 600px) {
  .n-advantages__top h2 {
    font-size: 32px;
    line-height: 36px;
  }
  .n-advantages__top h3 {
    font-size: 16px;
    line-height: 22.4px;
  }
  .n-advantages__item-top h4 {
    letter-spacing: -0.02rem;
  }
  .n-advantages__top {
    gap: 15px;
  }
  .n-advantages__wrapper {
    gap: 35px;
  }
  .n-advantages__item-top {
    gap: 19px;
  }
  .n-advantages__item p {
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: -0rem;
    margin-top: 20px;
    max-width: 100%;
  }
  .n-advantages__inner {
    row-gap: 37px;
  }
  .item-icon-letter p {
    letter-spacing: -0.04rem;
  }
}
@media (max-width: 1200px) {
  hr {
    width: 150px;
  }
  .n-support__item {
    gap: 10px;
  }
  .n-support__item ul li {
    max-width: 80%;
  }
}
@media (max-width: 1079px) {
  .n-support__title {
    margin: 0;
  }
  .n-support__wrapper {
    align-items: center;
    gap: 24px;
  }
  .n-support__item {
    margin: 0;
  }
  .n-support__item {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 24px;
  }
  .n-support__icon {
    order: 2;
    width: 40%;
    margin: 0;
  }
  .n-support__button {
    width: 40%;
    order: 3;
    margin: 0;
  }
  hr {
    width: 250px;
  }

  .n-support__wrapper h2 {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .n-support__title {
    height: 73px;
    width: 81%;
  }
  .n-support__wrapper h2 {
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.08rem;
  }
  .n-title-white {
    letter-spacing: -0.04rem !important;
  }
  .n-support__item p {
    max-width: 80%;
  }
}
@media (max-width: 600px) {
  .n-support__container {
    padding-left: 19px;
    padding-right: 19px;
    box-sizing: border-box;
  }
  .n-support__title {
    width: 100%;
    padding: 0;
  }
  .n-support__wrapper {
    padding-top: 57px;
    gap: 20px;
  }
  .n-support__wrapper h2 {
    text-align: left;
  }
  .n-support__item p {
    max-width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }
  .n-support__icon img {
    width: 54px;
    height: 31px;
  }
  .n-support__icon {
    width: 28%;
    gap: 14px;
    margin-top: auto;
  }
  .n-support__item {
    justify-content: inherit;
    gap: 50px 19px;
  }
  .n-support__button {
    width: 222px;
    height: 47px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.07rem;
    margin-left: auto;
  }
}
/*---opportunities-1c---*/
.opportunities-1c {
  width: 100%;
}
@media (max-width: 690px) {
  .opportunities-1c__container {
    padding: 0;
  }
}
.opportunities-1c__wrapper {
  padding-top: 92px;
  padding-bottom: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media (max-width: 690px) {
  .opportunities-1c__wrapper {
    padding-top: 56px;
    padding-bottom: 60px;
  }
}
.opportunities-1c__wrapper h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(32px, 5vw, 40px);
  line-height: 46px;
  letter-spacing: -0.05rem;
  color: #161616;
  max-width: 704px;
  width: 100%;
}
.opportunities-1c__wrapper h2 span {
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
@media (max-width: 1100px) {
  .opportunities-1c__wrapper h2 {
    font-size: clamp(32px, 5vw, 34px);
    line-height: 34px;
  }
}
@media (max-width: 690px) {
  .opportunities-1c__wrapper h2 {
    font-size: 32px;
    line-height: 32px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
.opportunities-1c__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  column-gap: 40px;
  row-gap: 17px;
  margin-top: 70px;
}
@media (max-width: 768px) {
  .opportunities-1c__grid {
    grid-template-columns: 1fr;
    column-gap: 20px;
  }
}
@media (max-width: 690px) {
  .opportunities-1c__grid {
    margin-top: 35px;
    gap: 0;
  }
}
.opportunities-1c__grid-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 17px;
  background: #f8f9fb;
  border-radius: 10px;
  padding: 32px;
  box-sizing: border-box;
}
@media (max-width: 690px) {
  .opportunities-1c__grid-item {
    padding: 22px 20px;
    gap: 10px;
  }
  .opportunities-1c__grid-item:nth-child(even) {
    background: #fff;
  }
}
.opportunities-1c__grid-item h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.03rem;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.opportunities-1c__grid-item p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: -0.02rem;
  color: #161616cc;
}
@media (max-width: 690px) {
  .opportunities-1c__grid-item h4 {
    font-size: 15px;
    line-height: 15px;
  }
  .opportunities-1c__grid-item p {
    font-size: 14px;
    line-height: 16.8px;
  }
}
.opportunities-1c__integ {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  column-gap: 40px;
  margin-top: 52px;
}
@media (max-width: 768px) {
  .opportunities-1c__integ {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
@media (max-width: 690px) {
  .opportunities-1c__integ {
    margin-top: 26px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    gap: 16px;
  }
}
.opportunities-1c__integ h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.04rem;
  color: #161616;
}
@media (max-width: 1100px) {
  .opportunities-1c__integ h3 {
    font-size: 28px;
    line-height: 28px;
  }
}
@media (max-width: 690px) {
  .opportunities-1c__integ h3 {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.03rem;
  }
}
.opportunities-1c__integ-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 5px;
}
.opportunities-1c__integ-list li {
  display: flex;
  gap: 8px;
}
@media (max-width: 690px) {
  .opportunities-1c__integ-list li {
    gap: 12px;
  }
}
.opportunities-1c__integ-list li img {
  width: 24px;
  height: 24px;
}
@media (max-width: 690px) {
  .opportunities-1c__integ-list li img {
    width: 20px;
    height: 20px;
  }
}
.opportunities-1c__integ p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: -0.02rem;
  color: #161616;
}
@media (max-width: 768px) {
  .opportunities-1c__integ p {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 690px) {
  .opportunities-1c__integ p {
    font-size: 14px;
    line-height: 16.8px;
  }
}
/*---stories-1c---*/
.stories-1c {
  width: 100%;
  background: #f8f9fb;
}
.stories-1c__wrapper {
  padding-top: 88px;
  padding-bottom: 100px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 70px;
}
.stories-1c__top {
  display: flex;
}
.stories-1c__top h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(32px, 5vw, 40px);
  line-height: 46px;
  letter-spacing: -0.05rem;
  color: #161616;
  max-width: 704px;
  width: 100%;
}
.stories-1c__top h2 span {
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
@media (max-width: 1100px) {
  .stories-1c__top h2 {
    font-size: clamp(32px, 5vw, 34px);
    line-height: 34px;
  }
}
@media (max-width: 690px) {
  .stories-1c__top h2 {
    font-size: 32px;
    line-height: 32px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
.stories-1c__inner {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  column-gap: 40px;
}
@media (max-width: 1280px) {
  .stories-1c__inner {
    column-gap: 20px;
  }
}

.stories-1c__item {
  background: #ffffff;
  border: 2px solid #f8f9fb;
  display: flex;
  flex-direction: column;
  padding: 40px 17px 20px 24px;
  box-sizing: border-box;
}
.stories-1c__item-top {
  display: flex;
  align-items: center;
  gap: 24px;
}
.stories-1c__item-top img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.stories-1c__item-title {
  display: flex;
  flex-direction: column;
}
.stories-1c__item-title h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: -0.04rem;
  color: #161616;
}
@media (max-width: 1200px) {
  .stories-1c__item-title h5 {
    font-size: 16px;
    line-height: 22.4px;
  }
}
.stories-1c__item-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.02rem;
  color: #161616;
}
@media (max-width: 1200px) {
  .stories-1c__item-title {
    font-size: 14px;
    line-height: 16.8px;
  }
}
.stories-1c__item-title span {
  white-space: nowrap;
}
.stories-1c__item-line {
  max-width: 293px;
  width: 100%;
  border: 2px solid #f8f9fb;
  margin-top: 20px;
}
.stories-1c__text {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
}
.stories-1c__text h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: -0.02rem;
  color: #161616;
}
.stories-1c__task {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.stories-1c__task p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.02rem;
  color: #161616;
}
.stories-1c__desc {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 40px;
}
.stories-1c__desc img {
  width: 23px;
  height: 12px;
}
.stories-1c__desc p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.02rem;
  color: #161616;
}
.stories-1c__problem {
  max-width: 247px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 28px auto 0;
}
.stories-1c__problem h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: -0.02rem;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.stories-1c__problem-button {
  width: 100%;
  height: 53px;
}
.stories-1c__small-point {
  width: 127.27px;
  height: 48.1px;
}
.stories-1c__point {
  width: 246.33px;
  height: 93.1px;
  margin-top: 65px;
}
/********/
@media (max-width: 1130px) {
  .stories-1c__item_hidden {
    display: none;
  }
}
.stories-1c__swiper {
  max-width: 1050px;
}
@media (max-width: 1130px) {
  .stories-1c__item {
    width: 350px;
    padding: 24px 11px 24px 24px;
  }
  .stories-1c__item-title h5 {
    font-size: 16px;
    line-height: 22.4px;
  }
  .stories-1c__item-top {
    gap: 20px;
  }
  .stories-1c__text h5 {
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 9px;
  }
  .stories-1c__task p {
    font-size: 14px;
    line-height: 16.8px;
  }
  .stories-1c__text {
    margin-top: 20px;
  }
  .stories-1c__task {
    gap: 10px;
  }
  .stories-1c__desc p {
    font-size: 14px;
    line-height: 20px;
  }
  .stories-1c__problem h5 {
    font-size: 16px;
    line-height: 22.4px;
  }
  .stories-1c__problem-button {
    height: 47px;
    font-size: 16px;
    line-height: 18px;
  }
}
